@font-face {
  font-family: "Inter";
  src: url(../../assets/fonts/Inter-VariableFont_slntwght.ttf);
}
*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  display: block;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  display: inline-block;
}

button,
a {
  cursor: pointer;
}

html {
  font-size: 15px;
  font-family: "Inter";
}

footer {
  position: fixed;
  bottom: 0%;
  left: 50%;
  transform: translate(-50%, 0);
  background: white;
  padding: 0.2rem 0.7rem;
  font-size: 11px;
  text-align: center;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.attribution a {
  font-weight: bold;
  color: hsl(228deg, 45%, 44%);
}

.section {
  width: 355px;
  margin: 0 auto;
  max-width: 1440px;
}

.nav {
  padding: 1rem 0;
  display: grid;
  justify-content: space-between;
  grid-template-columns: auto auto;
  align-items: center;
}
.nav-logo {
  height: 1.7rem;
}
.nav-links-container {
  display: none;
}
.sidebar {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 999;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.249);
  background: transparent;
}
.sidebar .sidebar-container {
  position: fixed;
  top: 0;
  right: 0;
  padding: 1.5rem 1rem;
  background: hsl(36deg, 100%, 99%);
  height: 100vh;
  width: 55vw;
  transform: translateX(100%);
}
.sidebar .sidebar-container-closebtn {
  margin-left: auto;
  margin-right: 0.5rem;
}
.sidebar .sidebar-container-links {
  padding: 1rem 0.5rem;
  margin-top: 3rem;
}
.sidebar .sidebar-container-links li {
  padding: 0.7rem 0;
}
.sidebar .sidebar-container-links li a {
  font-weight: 700;
  color: hsl(240deg, 100%, 5%);
}

.header-left-header {
  width: 100%;
}
.header-left-content-header {
  font-size: 3rem;
  line-height: 1;
  padding: 1.5rem 0;
  font-weight: 800;
}
.header-left-content-desc-text {
  color: hsl(236deg, 13%, 42%);
  line-height: 1.5;
}
.header-left-content-desc-btn {
  background: hsl(5deg, 85%, 63%);
  color: white;
  text-transform: uppercase;
  letter-spacing: 0.3rem;
  font-weight: 700;
  padding: 1rem 1.5rem;
  margin: 1.8rem 0;
}
.header-news {
  background-color: hsl(240deg, 100%, 5%);
  color: hsl(36deg, 100%, 99%);
  padding: 1.5rem 1rem;
}
.header-news h1 {
  color: hsl(35deg, 77%, 62%);
  margin-bottom: 0.5rem;
}
.header-news div {
  padding: 2rem 0;
  border-bottom: 1px solid hsl(236deg, 13%, 42%);
}
.header-news div h2 {
  font-size: 1.4rem;
}
.header-news div p {
  color: hsl(233deg, 8%, 79%);
  padding: 1rem 0 0.5rem 0;
}
.header-news .new-3 {
  border-bottom: 0;
  padding-bottom: 0;
}

.articles {
  margin-top: 4rem;
  margin-bottom: 6rem;
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
}
.articles article {
  display: flex;
  align-items: center;
  gap: 0 1.5rem;
}
.articles article img {
  height: 10rem;
  -o-object-fit: cover;
     object-fit: cover;
}
.articles article div {
  flex: 0 0 60%;
}
.articles article div h1 {
  font-size: 2rem;
  color: hsl(233deg, 8%, 79%);
}
.articles article div h2 {
  font-size: 1.2rem;
  margin: 0.8rem 0;
  font-weight: 800;
}
.articles article div p {
  line-height: 1.5;
  color: hsl(236deg, 13%, 42%);
}