// configs
@import "./utils/config";
// navbar component
@import "./components/nav";
// sidebar component
@import "./components/sidebr";
// articles component
@import "./components/articles";
// footer component
@import "./components/footer";
// public class
.section {
  min-width: 355px;
  margin: 0 auto;
  max-width: 1300px;
  padding: 0 1rem;
}
// nav
.nav {
  padding: 2.5rem 1rem;
  padding-bottom: 2rem;
}
// header
.header {
  &-mobile {
    width: 100%;
  }
  &-desktop {
    display: none;
    width: 100%;
  }
  &-content {
    &-header {
      font-size: 3rem;
      line-height: 1;
      padding: 1.5rem 0;
      font-weight: $weight_3;
    }
    &-desc {
      &-text {
        color: $cl_darkgrayishblue;
        line-height: 1.5;
      }
      &-btn {
        background: $cl_softred;
        color: white;
        text-transform: uppercase;
        letter-spacing: 0.3rem;
        font-weight: $weight_2;
        padding: 1rem 2.2rem;
        margin: 1.8rem 0;
        transition: $transition;
        cursor: pointer;
        &:hover {
          background: $cl_verydarkblue;
        }
      }
    }
  }
  &-news {
    background-color: $cl_verydarkblue;
    color: $cl-offwhite;
    padding: 1.5rem 1rem;
    margin-top: 3rem;
    h1 {
      color: $cl_softorange;
      margin-bottom: 0.5rem;
    }
    div {
      padding: 2rem 0;
      border-bottom: 1px solid $cl_darkgrayishblue;
      h2 {
        font-size: 1.4rem;
        transition: $transition;
        cursor: pointer;
        &:hover {
          color: $cl_softorange;
        }
      }
      p {
        color: $cl_grayishblue;
        padding: 1rem 0 0.5rem 0;
      }
    }
    .new-3 {
      border-bottom: 0;
      padding-bottom: 0;
    }
  }
}
.articles {
  margin-top: 4rem;
  margin-bottom: 6rem;
}
// media queris
@import "./utils/desktop";
