// Import Variables
@import "./variables";
// Font Variables
@font-face {
  font-family: "Inter";
  src: url(../../assets/fonts/Inter-VariableFont_slntwght.ttf);
}
// Reset style
*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
img {
  display: block;
}
ul {
  list-style-type: none;
}
a {
  text-decoration: none;
  display: inline-block;
}
button,
a {
  cursor: pointer;
}
html {
  font-size: 15px;
  font-family: "Inter";
}
