// colors
// Primary
$cl_softorange: hsl(35, 77%, 62%);
$cl_softred: hsl(5, 85%, 63%);
// Neutral
$cl-offwhite: hsl(36, 100%, 99%);
$cl_grayishblue: hsl(233, 8%, 79%);
$cl_darkgrayishblue: hsl(236, 13%, 42%);
$cl_verydarkblue: hsl(240, 100%, 5%);
// font weight
$weight_1: 400;
$weight_2: 700;
$weight_3: 800;
// transition
$transition: all 200ms linear;
