// sidebar
.sidebar {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: -1;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.249);
  background: transparent;
  .sidebar-container {
    position: fixed;
    top: 0;
    right: 0;
    padding: 1.5rem 1rem;
    background: $cl_offwhite;
    height: 100vh;
    width: 55vw;
    transform: translateX(100%);
    &-closebtn {
      margin-left: auto;
      margin-right: 0.5rem;
    }
    &-links {
      padding: 1rem 0.5rem;
      margin-top: 3rem;
      li {
        padding: 0.7rem 0;
        a {
          font-weight: $weight_2;
          color: $cl_verydarkblue;
        }
      }
    }
  }
}
